# Virtual Environment
ai_log_analyzer/
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Git
.git
.gitignore

# Logs
*.log

# Docker
Dockerfile
.dockerignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
